<p>
        <button mat-raised-button color="primary" 
        type="submit"
        [routerLink]="['/login']">Logout</button> 

</p>  



<h1>Ciao {{currentUser.nome}}!</h1> 


<div class="card-body">
    <nav class='navbar navbar-expand navbar-light bg-light'>
        <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/task']">New Task</a>
      </li>
      </ul>
      </nav>
    
    
      <mat-card  *ngFor="let task of tasks">
            <mat-card-header>
                    TASK: {{task.nomeTask}}
            </mat-card-header>
            <mat-card-subtitle> <br>
                    Dettagli Task: {{task.todo}} {{task.inserito}}/ Fatto:{{task.fatto}} /Scaduto:{{task.scaduto}} /Id:{{task.id}}
                    <span></span><br>    
                      
            </mat-card-subtitle>
                 <mat-card-content>
                        <p>
                            Descrizione Task: {{task.descrizione}}
                        </p>
                        <p>      
                             Data scadenza: {{task.dataScadenza.substring(0,10)}}
                        </p>
                        <section class="todo-section">
                                        <button color="primary" mat-button (click)="CompleteTask(task, task.id)">{{showComplete ? 'Fatto' : 'Da Fare'}}</button>                                           
                                        <div class="todo-stats">
                                                        <i class="fatto-margin" *ngIf="showComplete" class="material-icons" >check_box</i> 
                                                        <i class="fatto-margin" *ngIf="validazioneData(task)" class="material-icons text-danger">warning</i>
                                        </div>                                     
                        </section>
                 </mat-card-content>
            <mat-card-actions>                    
                    <button color="warn" mat-button (click)="deleteTask(task.id)">DELETE</button>                    
            </mat-card-actions>
    </mat-card>
</div>




