h4 {    
    /*text-align: center;*/ 
    color: rgb(47, 69, 192) ;
    font-weight: bold; 
    font-size-adjust: initial;
    font-size: small; 
}  

p {    
    text-align: center;    
    font-size: x-large;
}  